/* .quiz-question-option {
    position: relative;
}

.radio-btn::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
} */